<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name= "ProductName" value="Samsung Note10"/>
  <parameter name= "CartCount" value="1"/>
    <classes>
      <class name="tests.Testcase"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
